<li class="" id="<%= dom_id category %>">
  <div>
    <img src="<%= category.icon %>" alt="<%= category.name %> Category"/>
  </div>
  <div>
    <p>
      <strong>Name:</strong>
      <%= category.name %>
    </p>
    <p>
      <strong>User:</strong>
      <%= category.user_id %>
    </p>
  </div>
</li>
